

body {
  margin: 0;
  padding: 0;
  width: 100%;
  
}


.card-img-top {
  height: 350px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #22211d;
  text-align: center;
}

.card-text strong {
  color: #ec8013;
}

.card-text ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

.card-text li {
  display: inline;
  margin: 0 10px;
}

h4.card-text {
  margin-top: 1rem;
}

.btn {
 
  width: 30%;
  font-size: 1rem;
}
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}